* {
    padding: 0;
    margin: 0;
}

// 68A7AD
// 99C4C8
// E5CB9F
// EEE4AB
// f8f6ea

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #68A7AD, #EEE4AB);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {

    height: 500px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    font-size: larger;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    background-color: #f8f6ea;

    h1 {
        color: #375c5f;
    }

    div {
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                font-weight: bolder;
                color: #375c5f;
            }

            input {
                font-size: large;
                margin: 10px;
                border: solid #68A7AD;
                border-radius: 5px;
                padding: 5px;
            }
        }

    }

    .errorLabel {
        color: crimson;
    }

}

button {
    font-size: larger;
    padding: 5px;
    background-color: #68A7AD;
    border: none;
    border-radius: 5px;
    color: #E5CB9F;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

.popUp {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.356);

    z-index: 1;

    display: none;
    justify-content: center;
    align-items: center;

    .popCard {
        height: 500px;
        min-width: 450px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px grey;
        font-size: larger;

        display: flex;
        padding: 20px;
        justify-content: space-evenly;
        flex-direction: column;

        background-color: #f8f6ea;

        #exitBtn {
            background-color: crimson;
            border: none;
        }
    }
}